body {
    background-color: rgb(238 246 255);
    color: black;
    /* font-family: 'Alata'; */
    font-family: 'Roboto', "Helvetica Neue", 'sans-serif';
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

h4, input, footer, .form-check, .form-label {
    /* font-family: 'Arimo' */
}

.img-holder {
    background-color: white;
    width: 100%!important;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 40px;
    font-weight: bold;
}
/* h1 {
  font-size: 36px;
  margin-top: -91px;
  margin-bottom: 30px;
  color: white;
  text-align: center;
} */

h4 {
    font-size: 19px;
    line-height: 25px;
    color: #555;
    /* margin-bottom: 60px; */
}

form {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 40px 30px;
    max-width: 600px;
    border-top: solid 40px #002E5D;
    border-bottom: solid 40px #002E5D;
    margin-top: 25px;
    margin-bottom: 50px;
    box-shadow: 8px 8px 16px #aaa;
    border-radius: 30px;
}

@media screen and (min-width: 768px) {
  form {
    padding: 40px 70px;
  }
}

.long {
  padding: 50px;
  max-width: 750px;
}

.form-group {
    margin-top: 60px;
}

.table-group {
  width: 100%;
  overflow: scroll;
}

.form-label {
    /* font-family: 'Alata'!important; */
    margin-bottom: 10px;
     font-size: 20px!important;
}

.form-control {
    /* border-radius: 0px!important; */
    /* border: none!important; */
    height: 50px;
}

.form-inline .form-control {
    box-shadow: none!important;
    margin-left: 10px;
    width: 75%;
    height: 30px!important;
    border: none!important;
    border-radius: 0px;
    /* overflow: auto; */
}

@media screen and (max-width: 767px) {
  .form-inline .form-control {
      width: 60%;
  }
}

.form-check {
    font-size: 16px;
    transition: 0.2s;
    background-color: white;
    margin-bottom: 10px;
    padding: 15px 15px;
    color: #666;
    user-select: none;
    border-radius: 8px;
}

.form-check:hover {
    background-color: #efefef;
    cursor: pointer;
    color: #444;
}

.form-check-input {
    opacity: 0%!important;
}

.active  {
    background-color: #002E5D!important;
    color: white;
}

.active:hover {
    background-color: #103A6D!important;
    color: white!important;
}

button {
    /* color: white!important; */
    /* border-radius: 0%!important; */
    padding: 16px!important;
    font-size: 20px!important;
    margin-top: 40px;

}

.btn-light {
  background-color: white;
  border: none!important;
  border-radius: 7px;
  /* transition: 0.4s!important; */
}

.btn-light:hover {
  background-color: #efefef;
}

button:focus {
    outline: none!important;
}

.btn-delete {
  border-radius: 10%;
  max-height: 65px;
  zoom: 0.65;
  margin: 0px;
}

.success-message-container {
  width: 100%;
  /* height: 90vh; */
  text-align: center;
  margin-top: 40px;
}

.success-message {
  color: #020;
  /* background-color: white; */
  width: 80%;
  /* height: 80%; */
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
  /* margin-bottom: 100px; */
}

.success-message img {
  max-width: 300px;
  height: auto;
}

.success-message h3 {
  margin-bottom: 45px;
}

.success-message a {
  color: #002E5D;
}

.success-message a:hover {
  color: #103A6D;
}

#success-check {
  font-size: 75px;
  color: #002E5D;
  margin-bottom: 25px;
}

#error-symbol {
  font-size: 75px;
  color: #a00;
  margin-bottom: 25px;
}

footer {
    background-color: #002E5D;
    padding: 20px;
    display: flex;
}

.flex-left, .flex-right {
  flex: 1;
  float: right;
}

.flex-left img {
  float: right;
}

.flex-right {
  padding-top: 7px;
  line-height: 25px;
}

footer img {
  max-width: 150px;
  height: auto;
}

footer a {
    color: white!important;
}

#error-text {
  display: none;
  text-align: center;
}

#success-text {
  display: none;
}

.loader {
  margin-top: 15px;
  margin-bottom: -35px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #002E5D;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 1.5s linear infinite;
  opacity: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
